$('#weight_value').val("");
$("<tr><td><strong><%= @weight.value %></strong></td><td>hey</td><td>hey</td><td>hey</td></tr>").hide().prependTo('.WeightTable tbody').fadeIn("slow");
$("#weight_value").focus();