#weight_date, #weight_value
  background-color: transparent
  border: none
  outline: none
  padding: 1px
  border-bottom: 2px dotted #777
  color: #777
  text-align: center

#weight_value
  font-size: 1.2rem