#weight_date, #weight_value
  background-color: transparent
  border: none
  outline: none
  padding: 1px
  border-bottom: 2px dotted #777
  color: #777
  text-align: center
  width: 150px
  +transition (all 0.2s ease)
  &:focus
    color: $blue
    border-color: $blue

.WeightForm-button
  font-size: 1rem
  border: none
  background-color: darken($light-red, 35%)
  padding: 15px
  border-radius: 8px
  box-shadow: 0 4px 10px 4px $light-gray
  
  +transition (all 0.2s ease)
  &:hover
    background-color: darken($light-red, 25%)
    box-shadow: 0 1px 4px 1px $light-gray